* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
}

h1 {
    margin: 30px;
    text-align: center;
    font-family: 'Yuji Boku', serif;
    color: goldenrod;
    border: 45px solid mistyrose;
    border-radius: 100px;
}

.wowLookAtThatBro {
    max-width: 1000px;
    margin: 2rem auto;
}

image {
    padding: 1rem 1rem;
    width: 500px;
    height: 500px;
}

img {
    margin: auto;
    filter: drop-shadow(15px 10px 4px #4444dd);
    width: 100%;
}